{% extends "base.html" %}
{% block content %}

<h2>Update Lesson</h2>

<form action="/lessons/{{ lesson.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ lesson.name }}">/

        <label for="duration">Duration:</label>
        <input type="text" id="duration" name="duration" value="{{ lesson.duration }}">

        <label for="start_time">Starting at:</label>
        <input type="start_time" id="start_time" name="start_time" value="{{ lesson.start_time }}">

        <label for="capacity">Max Capacity:</label>
        <input type="capacity" id="capacity" name="capacity" value="{{ lesson.capacity }}">

        <input type="submit">
    </div>
</form>

{% endblock %}