body {
    background: url('/static/images/Gym.jpeg');
    background-size:cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: azure;
    background-color: #4ac0c2;
    text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center;
    text-decoration: none;
    color:azure;
    font-size: 48px;
    padding-right: 40px;
}

div {
    border-radius: 5px;
}
.logo {
    font-size: 45px;
    text-align: center;
    text-shadow: -4px -4px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.home {
    display: flex;
    font-size: 23px;
    color: rgb(250, 49, 49);
    text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a {
    color: azure;
  }
.member {
    text-shadow: -5px -5px 0 rgb(3, 0, 170), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: auto;
    width: 50%;
    text-align: center;
    border: 3px azure;
    padding: 10px;
  }
.members_table {
    text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: auto;
    width: 50%;
    text-align: center;
    border: 3px azure;
    padding: 10px;
    font-size: 28px;
}

.lesson {
    text-shadow: -5px -5px 0 rgb(184, 1, 1), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: rgb(255, 255, 255);
    margin: auto;
    width: 50%;
    text-align: center;
    border: 3px rgb(255, 255, 255);
    padding: 10px;
  }
.lessons_table {
    text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: chartreuse;
    margin: auto;
    width: 50%;
    text-align: center;
    border: 3px rgb(250, 250, 250);
    padding: 10px;
    font-size: 22px;
}

.bookings_table {
    text-shadow: -1px -1px 0 rgb(1, 4, 0), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: auto;
    width: 80%;
    text-align: center;
    /* border: 3px rgb(250, 250, 250); */
    /* padding: 10px;  */
    font-size: 22px;
}

.booking {
    text-shadow: -3px -3px 0 rgb(1, 4, 0), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align:center;
    border: 3px azure;
    padding: 10px;
    font-size: 20px;
}

.bookings_buttons {
    display: flex;
    flex-direction:row;
    align-self: center;
    justify-content: center;
    padding-right: 40px;
}

.members_buttons {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-right: 40px;
}

.lessons_buttons {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-right: 45px;
}

.footer {
    text-align: center;
}

.cap {
    text-align: center;
    color: rgb(247, 36, 36);
}

.new_booking {
    text-align: center;
    font-size: 30px;  
}

.edit_booking {
    text-align: center;
    font-size: 30px;  
}

.new_lesson {
    text-align: center;
    font-size: 30px;
    text-shadow: -2px -2px 0 rgb(228, 5, 5), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.edit_lesson {
    text-align: center;
    font-size: 30px;  
}

.new_member {
    text-align: center;
    font-size: 30px;  
}

.edit_member {
    text-align: center;
    font-size: 30px;  
}